# Python cache
__pycache__/
*.pyc
*.pyo

# Pytest
.pytest_cache/

# Packaging / build files
dist/
build/
*.egg-info/
*.whl

# Virtual environment
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
